/* body {
  background: orange;
} */

/* .line {
  text-decoration: line-through;
} */

/* h1 {
  color: red;
} */

* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

button {
  width: 50px;
  height: 50px;
}
